.item-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 700px;
    height: 400px;
    justify-content: space-between;
}

.item1
{
    height: 80px;
    width: 100px;
    background-color: red;
    padding: 20px;
}